

.button{
    width: fit-content;
    margin-top: 200px;
    margin-left:30rem;
    text-align: center;
    background-color: rgb(131, 134, 136);
    border: 2px solid black;
    border-radius: 5px;
}
button{
    margin:8px;
    padding: 8px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(55, 55, 107);
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}